.carouselSection {
    display: grid;
    margin: .5em 0em .5em 0em;
    padding: 1em;
    grid-template-rows: minmax(300px 1fr);
}

.carouselSection {
    display: grid;
}

.carouselContainer {
    display: grid;
    grid-template-columns: repeat(1fr);
    overflow: hidden;
    height: 30vh;
    border-radius: 1em;
    justify-items: center;
    align-items: center;
    }
    
    .carouselContainer:hover {
        cursor: pointer;
        height: 80%;
        width: 80%;
    }
    
    .carouselContainer img {
        object-fit: cover;
        max-width: 100%;
    }

.carousel{
        display: grid;
        // background-color: black;
        // opacity: 80%;
        padding: 1em;
        align-items: center;
        justify-items: center;
        border-radius: 1em;
        transition: .25s;
    }

.arrow {
    color: black;
    font-size: 3em;
    float: left;

}

.arrow:hover {
    color: blue;
    cursor: pointer;
}