body {
    font-family: 'Mulish', sans-serif;
    background-color: $bg-main;
}

section{
    min-height: 70vh;
    padding-bottom: 30px;
}

img{
    width: 100%;
}

.inner-margin{
    margin: 0px 5%;
}

.hidden {
    display: none;
}

ul {
    li {
        display: inline;
        padding-left: 50px;
        margin: 20px;
        text-align: center;
    }
}

.flex{
    display: flex;
}

.flex-one > *{
    flex: 1;
}


.purpleBox {
    background-color: $bg-secondary;
    color: $color-third;
    padding: 30px 15px;
    margin-top: 20px;
}

button{
    text-align: center;
    border: none;
    padding: 20px 50px;
    font-size: 20px;
    cursor: pointer;
}

.brown_btn {
    background-color: $color-secondary;
    color: $color-third;
}

.purple_btn {
    background-color:$bg-secondary;
    color: $color-third;
}

.icon{
    width: 20px;
    color: $color-third;
}