.nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;

    .nav-list{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        font-size: 1.5em;

        a{
            text-decoration: none;
            color: $color-main;
        }
    }
    button{
        display: flex;
        justify-content: space-evenly;
        align-self: center;
    }
}

.logo {
    width: 15em;
}

.heroSection > div{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.heroSection{
    align-items: center;
    .herotext{
        flex: 3;
        margin: 0px 40px;
        h2 {
            font-size: 5em;
        }
        
        .purpleBox{
            justify-content: space-around;
            align-items: flex-end;
            line-height: 1.8;
            font-size: 1.2em;

            img{
                width: 50px;
            }
        }
    }
    
    .heroimg{
        flex: 4;
        align-self: center;
        img {
            width: 100%;
        }
    }
}

.carousel-con{    

    align-items: start;
    height: 60vh;

    .title{
        flex: 20 !important;
    }

    .carouselImg > div{
        flex: 3
    }
}

.featurescontent {
    gap: 50px;

    .featuresText{
        img{
            width: 20px;
            color: $color-third;
        }
        p {
            text-align: justify !important;
            font-size: 1.3em;
        }
    }
}

.promodiv {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $bg-third;
    
    h2 {
        color: $color-third;
    }

    button{
        width: 400px;
        align-self: center;
        margin-top: 50px;
    }
}

footer {
    color: $color-third;
    background-color:$bg-secondary;
    
    .footercontent {
        height: 40vh;
        align-items: center;
        flex: 4;

        .footer-text, .subscribe-form{
            flex: 4;
        }
        .subscribe-form{
            .flex{
                gap: 10px;
                input{
                    border: none;
                    padding: 20px;
                }
                .subscribe_btn{
                    flex: .3;
                    color: $bg-secondary;
                    font-size: 16px;
                }
            }

        }
    }

    .footer-bottom{
        align-items: center;
        
        .nav-footer {
            flex:4;
            font-size: 20px;
        }    

        .footer-icons{
            gap: 20px;
            padding: 20px 0;
            justify-content: flex-end;
            flex:4;

            .icons{
                width: 20px;
            }
        }
    }
    
    
}


        

        

/* grid */

@supports (grid-area: auto) {

    /*------------ Grid Items ------------*/

    // .main > *, .foot {
    //    display: grid;
    //       grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    // }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }

    .two-items {
       display: flex;
       justify-content: space-evenly;
    }

    .three-items {
       display: grid;
       grid-column: 1 / span 3;
       grid-template-columns: repeat(3, 1fr);
       justify-content: space-evenly;
       row-gap: 1em;
       column-gap: 1em;
    } 
    .four-items {
        display: grid;
        grid-column: 2 / span 4;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 1em;
     } 

}