
body {
    font-family: 'Mulish', sans-serif;
    background-color: #dddad6;
}



.hidden {
    display: none;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;

    .nav-list{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        font-size: 1.5em;

        a{
            text-decoration: none;
            color: $color-main;
        }
    }
    button{
        display: flex;
        justify-content: space-evenly;
        align-self: center;
    }
}

.logo {
    padding: 2em;
    width: 15em;
}

.heroSection > div{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.heroSection{
    margin: 4% 0 10%;
    .herotext{
        flex: 3;
        margin: 0px 40px;
        h2 {
            font-size: 5em;
        }
        
        .purpleBox{
            justify-content: space-around;
            align-items: flex-end;
            line-height: 1.8;
            font-size: 1.2em;

            img{
                width: 50px;
            }
        }
    }

    
    .heroimg{
        flex: 4;
        align-self: center;
        img {
            width: 100%;
        }


    h3 {
        margin: 10px;
        padding-left: 30px;

    }
}

.carousel-con{    
    .title{
        flex: 20 !important;
    }

    .carouselImg > div{
        flex: 3
    }
}


.featurescontent {
    
    gap: 50px;

    .featuresText{
        img{
            width: 20px;
            color: $color-third;
        }
        p {
            text-align: justify !important;
            font-size: 1.5em;
        }

.purpleBox {
    background-color: rgb(204, 189, 219);
}

.hero_img {
    width: 25em;
    height: 15em;
}

ul {
    li {
        display: inline;
        padding-left: 50px;
        margin: 20px;
        text-align: center;
    }
}

.promodiv {
    width: 100%;
    text-align: center;
    background-color: #e0cdb8;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 20px;
    }

    
    .purple_btn {
        align-self: center;
        background-color:rgb(224, 172, 224);


    .purple_btn {
        align-self: center;
        background-color: rgb(204, 189, 219);

        height: 50px;
        width: 100px;
        margin: 2em;
        margin-left: 40px;

    }
}

footer {
    width: 100%;
    background-color:rgb(204, 189, 219);
    
    .footercontent {
        text-align: center;
        
        h2 {
        font-size: medium;
        font-weight: bold;
        padding: 20px;
        }

    }

    .subscribe {
        width: 80%;
        text-align: right;
    }

    .subscribe_btn {
        background-color: #e0cdb8;
        height: 50px;
        width: 100px;
        margin: 2em;
        margin-left: 40px;
        font-size: small;
    }
    
    
}

.nav-footer {
    font-size: smaller;
}    

        

        

    }
}

.featurescontent {
    p {
        padding: 10px;
    }
}

.featuresdiv {
    width: 100%;
    text-align: center;
    margin: 20px;

    h2 {
        text-align: center;
        margin: 20px;
    }

    .features-img {
        padding: 2em;
        width: 25em;
    }
}

footer {
    width: 100%;
    background-color: rgb(204, 189, 219);

    .footercontent {
        text-align: center;

        h2 {
            font-size: medium;
            font-weight: bold;
            padding: 20px;
        }

    }

    .subscribe {
        width: 80%;
        text-align: right;
    }

    .subscribe_btn {
        background-color: #e0cdb8;
        height: 50px;
        width: 100px;
        margin: 2em;
        margin-left: 40px;
        font-size: small;
    }


}

.nav-footer {
    font-size: smaller;
}


/* grid */

@supports (grid-area: auto) {

    /*------------ Grid Items ------------*/

    // .main > *, .foot {
    //    display: grid;
    //       grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    // }

    .one-item {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: 1fr;
    }

    .two-items {
        display: flex;
        justify-content: space-evenly;
    }

    .three-items {
        display: grid;
        grid-column: 1 / span 3;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 1em;
    }

    .four-items {
        display: grid;
        grid-column: 2 / span 4;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 1em;
    }

}