body {
font-family: 'Mulish', sans-serif;
background-color: #dddad6;
}



.hidden {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
}

.logo {
    padding: 2em;
    width: 15em;
}

.brown_btn {
    background-color: #e0cdb8;
    height: 50px;
    width: 100px;
    margin: 2em;
    margin-left: 40px;

    h3 {
        text-align: center;
        padding: 17px;
    }
}

.pad1 {
    padding: 1em;
    text-align: left;

    h2 {
        margin: 50px;
    }
    h3 {
        margin: 10px;
        padding-left: 30px;
    }

}

.pad2 {
    padding: 4em;
}

.botPad {
    padding-bottom: 1em;
}

.purpleBox {
    background-color: rgb(224, 172, 224);
}

.hero_img {
    width: 25em;
    height: 15em;
}
ul {
    li {
        display: inline;
        padding-left: 50px;
        margin: 20px;
        text-align: center;
    }
}

.promodiv {
    width: 100%;
    text-align: center;
    background-color: #e0cdb8;
    display: flex;
    flex-direction: column;

    h2 {
        margin: 20px;
    }
        .purple_btn {
            align-self: center;
            background-color:rgb(224, 172, 224);
            height: 50px;
            width: 100px;
            margin: 2em;
            margin-left: 40px;
            }
    }

    .featurescontent {
        p {
            padding: 10px;
        }
    }

        .featuresdiv {
        width: 100%;
        text-align: center;
        margin: 20px;
        h2 {
            text-align: center;
            margin: 20px;
        }
        .features-img {
            padding: 2em;
            width: 25em;
             }
        }

        footer {
            width: 100%;
            background-color:rgb(204, 189, 219);
            
            .footercontent {
               text-align: center;
              
               h2 {
                font-size: medium;
                font-weight: bold;
                padding: 20px;
               }

            }

            .subscribe {
                width: 80%;
                text-align: right;
            }

            .subscribe_btn {
                background-color: #e0cdb8;
                height: 50px;
                width: 100px;
                margin: 2em;
                margin-left: 40px;
                font-size: small;
            }
            
            
        }

        .nav-footer {
            font-size: smaller;
        }

/* grid */

@supports (grid-area: auto) {

    /*------------ Grid Items ------------*/

    // .main > *, .foot {
    //    display: grid;
    //       grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    // }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }

    .two-items {
       display: flex;
       justify-content: space-evenly;
    }

    .three-items {
       display: grid;
       grid-column: 1 / span 3;
       grid-template-columns: repeat(3, 1fr);
       justify-content: space-evenly;
       row-gap: 1em;
       column-gap: 1em;
    } 
    .four-items {
        display: grid;
        grid-column: 2 / span 4;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 1em;
     } 

}