/** BACKGROUND **/
$bg-main: #dddad6;
$bg-secondary: #ccbddb;

/** COLORS **/
$color-main: black;
$color-secondary: #e0cdb8;
$color-third: white;

/** FONTS **/
$main-size: 16px;
$main-font: 'DM Sans';
